<!-- Put your News Aggregator articles.erb code here -->
<% if @error %>
  <p><%=@error%></p>
<% end %>
<h2>Show all articles here TEST</h2>
<% @articles.each do |one_article| %>
  <ul>
    <li> Title:
      <%= one_article.title %>
    </li>
    <li> Link:
      <a href="<%= one_article.url %>" target="_blank">
        <%= one_article.url %>
      </a>
    </li>
    <li> Description:
      <%= one_article.description %>
    </li>
  </ul>
<% end %>
<p>
  << <a href="/articles/new"> TAKE ME TO THE FORM</a>
</p>
